
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    background-color: #087ff5;
  }
  
  .weather-card {
    background-color: #01040f;
    color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
  }
  
  .weather-card-md {
    max-width: 800px;
  }
  
  .temp {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .icon {
    font-size: 5rem;
    margin-bottom: 20px;
  }
  
  .weather-image {
    max-width: 150px;
    margin: 20px auto;
   
  }
  

  .weather-card-sm {
    max-width: 100%; 
  }
  

  